/* ==========================================================================
     Navbar Style
     ========================================================================== */
  
     .navbar-expand-md .navbar-nav .nav-link {
        color: #fff;
        font-size: 1rem;
        padding: 8px 0px;
        margin-left: 26px;
        position: relative;
        font-weight: 300;
      }
      
      .navbar-expand-md .navbar-nav .nav-link:before
       {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #ffffff;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
      }
      
      
      .navbar-expand-md .navbar-nav .nav-link:hover::before {
        width: 100%;
      }
      
      .navbar-expand-md .navbar-nav .nav-link:focus,
      .navbar-expand-md .navbar-nav .nav-link:hover,
      .navbar-expand-md .navbar-nav .nav-link:hover:before {
        color: #ffffff;
      }
      
      .navbar-expand-md .navbar-toggler {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 3px;
        margin: 5px;
        cursor: pointer;
        float: right;
      }
      
      .navbar-expand-md .navbar-toggler i {
        color: #fff !important;
      }
      
      .navbar-expand-md .navbar-toggler:focus {
        outline: none;
      }
      
      li {
        width: fit-content;
      }